body{
    background-color: rgb(255, 230, 160);
}  

.board{
    display:grid;
    padding: 50px;
    width: min-content;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(151, 133, 75);
    border-radius: 50px;
}

canvas{
    background: repeating-linear-gradient(90deg, #97854b 0, #97854b 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #97854b 0, #97854b 5%, transparent 0, transparent 50%);
    background-size: 40px 40px;
    background-color: #ffe17d;
    opacity: 1
}